<h1>Please Login</h1>
<%= form_tag :action => 'validate' do %>
  <p>
    <b>User ID</b><br />
    <%= text_field_tag :userid %>
  </p>
  
  <p>
    <b>Password</b><br />
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= submit_tag "Login" %>
  </p>
<% end %>